.button {
	height: 3em;
	width: 6em;
	background-color: #4682b4;
	color: #fff;
	border: none;
	border-radius: 1em;
	transition: 1s;
	font-size: 1em;
}

.button:hover {
	background-color: #4169e1;
	cursor: pointer;
}
