.select {
	display: flex;
	flex-direction: column;
}

.select select {
	height: 4em;
	border: none;
	border-radius: 0.5em;
	margin: 1em 0;
	text-align: center;
	font-weight: 600;
	font-size: 1.2em;
}
