.container_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin: 3em 25em 25em 25em;
    padding: 4em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #ccc;
}

.container_home h1 {
    text-align: center;
}

.container_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container_information p {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: #077ccc;
}

.container_btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_btns span {
    color: #063463;
    font-weight: bold;
    font-size: 1.2em;
    transition: 1s;
}

.container_btns span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container_btns button {
    background-color: transparent;
    border: none;
    padding: .5em;
}

.container_btns button svg {
    font-size: 4em;
    transition: 1s;
    color: #077ccc
}

.container_btns button svg:hover{
    color: #063463
} 