.form_apontamento_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-size: 1em;
	width: 90%;
	margin: 0 auto;
}

.form_apontamento_container Input,
.form_apontamento_container Select {
	width: 9em;
	text-align: center;
	height: 2em;
	font-size: 1.2em;
	margin: 0.5em;
	padding: 0 0.8em;
}
.form_apontamento_container Select {
	font-size: 1em;
}

.form_apontamento_container Input::placeholder {
	font-size: 0.4em;
	text-align: center;
}

.form_apontamento_container label {
	text-align: center;
	font-weight: 800;
	margin: 0;
}

.form_apontamento_container_line_one {
	display: flex;
	align-items: center;
	padding: 0;
}

.form_apontamento_container_line_two {
	display: flex;
	align-items: center;
}

.form_apontamento_container_di_os {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 2em;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5em;
	min-height: 17em;
}

.form_apontamento_container_di_os_select {
	display: flex;
}

.form_apontamento_container_outros {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-right: 2em;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5em;
	min-height: 17em;
}

.form_apontamento_container_horas {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5em;
	min-height: 17em;
	text-align: center;
	margin-right: 2em;
}

.form_apontamento_container_observacao {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0.5em;
	min-height: 17em;
	text-align: center;
	margin-right: 2em;
}
