.formApontamento {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.formApontamento_container_date {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.formApontamento_container Input {
	height: 1em;
	width: 6em;
	font-size: 1em;
	padding: 0.5em;
}

.formApontamento_container Select {
	height: 2em;
	width: 12em;
	font-size: 1em;
	padding: 0.5em;
}

.formApontamento_container_line_one {
	display: flex;
}

.formApontamento_container_line_two {
	display: flex;
	justify-content: space-between;
}

.formApontamento_container_line_two ul label {
	display: flex;
	align-items: center;
}

.formApontamento_container_line_two ul label li {
	list-style: none;
	padding: 0.5em;
}
