.container_pagination{
    padding: 0.3em;
    border: 0.5px solid gray;
    border-radius: 0.5em;
}
.container_pagination button {
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: blue;
    margin-right: 0.1em;
    transition: 1s;
}

.container_pagination button:hover{
    background-color: gray;
}